<ion-tabs class="tabs-icon-top tabs-dark">

    <ion-tab title="Home"
             icon="ion-home"
             href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
  
    <ion-tab title="reserve here"
             icon="ion-ios-plus-outline"
             href="#/tab/list">
      <ion-nav-view name="list-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="About"
             icon="ion-ios-information"
             href="#/tab/about">
             <ion-header-bar class="bar-dark">
                <h1 class="title">About</h1>  
              </ion-header-bar>
              <br> <br>
            <h1> Bed and Breakfast </h1> 
            <p>är ett billigt, bekvämt och bra litet hemtrevligt ställe i Stockholm City, 
              precis bredvid kungsholmens tunnelbanestation.</p>
                  
                <p>Rumsstorleken varierar i vårt Hotel, från enkelrum, dubbelrum, familjerum men även våra exklusiva sviter med salong och ett överlägsetrum med 60 kvm.</p>

                <p>Vår frukostbuffé ingår i alla våra rumspriser.</p>
      <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Contact"
             icon="ion-android-call"
             href="#/tab/contact">
      <ion-nav-view name="contact-tab"></ion-nav-view>
      <style>
          h2 {text-align: center;}
          h3 {text-align: center;}
          h4 {text-align: center;}
          h5 {text-align: center;}
          h6 {text-align: center;}
      </style>
      
      <ion-header-bar class="bar-dark">
          
          <h1 class="title">Contact</h1>  
        </ion-header-bar>
        <ion-content class="padding">
         
        
      <h2>Stockholm Bed & Breakfast</h2>
      <h2>Kungsholmen</h2>
      <h3>Box 144 123</h3>
      <h3>134 132 Stockholm</h3>
      <h4>Tel: 08 - 909 34 00</h4>
      <h4>Fax: 08 - 116 98 89</h4>
      
      <h5>info@StockholmBed&Breakfast.se</h5>
      
      <h6>Om kakor (cookies)</h6>
        </ion-content>
    </ion-tab>
   
  </ion-tabs>
    